
header {
  background-color: #636363;
  display: flex;
  padding: 35px;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #FFF;
}

main {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
